# Ignore Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*

# Build outputs
dist/
build/
.next/
out/

# Environment variables
.env
.env.local

# Vercel cache
.vercel/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
